<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">The Flat Real Estates</h1>
    <p class="lead text-muted">We have a property for you no matter where you are, where you live or where you go, you will find it here!</p>
    <p>
      <a href="#" class="btn btn-primary">Subscribe</a>
    </p>
  </div>
</section>


<div class="album text-muted">
  <div class="container">

  	<div class="row">
        <div class="col-md-3 push-md-9">
          <%= form_tag pages_home_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
            <p>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
              <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
            </p>
          <% end %>
        </div>
      <!-- Pagination top -->
      <div class="col-12">
          <%= paginate @estates, 
              theme: 'twitter-bootstrap-4', 
              pagination_class: "pagination justify-content-center" %>
      </div>

      <!-- List of properties -->
      <div class="card-deck">
	  	<% @estates.each do |estate| %>
  				<div class="card" style="width: 20rem; margin-bottom: 2.5rem;">
					  <% if estate.pictures.first != nil %>
					  	<% if estate.pictures.first.url.present? %>
					  		<%= image_tag(estate.pictures.first.url, alt: estate.title, style: "height: 20rem;") %>
              <% else %>
                <img data-src="holder.js/100px280" alt="Card image cap">
					  	<% end %>
					  <% else %>
					  	<img data-src="holder.js/100px280" alt="Card image cap">
					  <% end %>
            <div class="card-block">
              <h4 class="card-title"><%= estate.title %></h4>
              <p class="card-text"><%= estate.description.slice(0..200) + '...' %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= estate.status %></li>
              <li class="list-group-item">Rooms: <%= estate.rooms %></li>
              <li class="list-group-item">Bathrooms: <%= estate.bathrooms %></li>
            </ul>
            <div class="card-block">
              <%= link_to 'Details', estate_path(estate), class: "card-link" %>
              <%= link_to 'Map', '', class: "card-link" %>
            </div>
            <div class="card-footer">
              <small class="text-muted">Published on <%= estate.created_at.strftime("%B %d, %Y") %> </small>
            </div>
  				</div>
	  	<% end %>
      </div>

      <!-- Pagination bottom -->
      <div class="col-12">
        <%= paginate @estates, 
            theme: 'twitter-bootstrap-4', 
            pagination_class: "pagination justify-content-center" %>
      </div>
    </div>

  </div>
</div>
