<%= simple_form_for(@estate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :estate_id %>
    <%= f.input :origin_company %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :property_type %>
    <%= f.input :agency %>
    <%= f.input :price %>
    <%= f.input :currency %>
    <%= f.input :unit %>
    <%= f.input :floor_area %>
    <%= f.input :rooms %>
    <%= f.input :bathrooms %>
    <%= f.input :city %>
    <%= f.input :city_area %>
    <%= f.input :region %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
    <%= f.association :pictures %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :published %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
