<p id="notice"><%= notice %></p>

<p>
  <strong>Estate:</strong>
  <%= @estate.property_id %>
</p>

<p>
  <strong>Origin company:</strong>
  <%= @estate.origin_company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @estate.title %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @estate.property_type %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @estate.agency %>
</p>

<p>
  <strong>Price:</strong>
  <%= @estate.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @estate.currency %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @estate.unit %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @estate.floor_area %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @estate.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @estate.bathrooms %>
</p>

<p>
  <strong>City:</strong>
  <%= @estate.city %>
</p>

<p>
  <strong>City area:</strong>
  <%= @estate.city_area %>
</p>

<p>
  <strong>Region:</strong>
  <%= @estate.region %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @estate.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @estate.latitude %>
</p>

<p>
  <strong>Picture ids:</strong>
  <%= @estate.picture_ids %>
</p>

<p>
  <strong>Date:</strong>
  <%= @estate.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @estate.time %>
</p>

<p>
  <strong>Published:</strong>
  <%= @estate.published %>
</p>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>
